<div class="row">
  <div class="container-fluid">
  <div class="row text-left">
    <div class="col-md-8">
    <div class="content-header" style="font-size: 20px">{{corpName}}</div>
    <br>
    <p class="content-sub-header"> <a routerLink="/dashboard"><span
        style="font-size: 15px">Home</span></a>
        <span style="font-size: 15px" routerLink="/dashboard">/Dashboard</span>
        <span style="font-size: 15px">/CorpInfo</span>
      <!-- <span style="font-size: 15px">/{{storename}}</span> -->

    </p>
    </div>

    <div class="col-xl-4 col-sm-6 col-12">
			<div class="card" style="width:24rem;">
			<div class="twoCard">
			  <div class="cardPart cardPart1"><strong style="color: #F3797E">AllLocation – All Safe</strong><br><br>
				<h3 style="color: #3143ce"><strong>${{corpAllLocationsAllSafeAmount}}</strong></h3>
			  </div>
			  <div class="cardPart cardPart2"><strong style="color: #F3797E">All Locations - Today</strong><br><br>
				<h3 style="color: #3143ce"><strong>${{corpinfos.todayInsertBillsAmount}}</strong></h3>
			  </div>
			  </div>
			</div>
			</div>
  </div>
</div>
</div>


<!--This is Seach bar code-->

<div class="row">
  <div class="col-md-4"> <!-- Increase the column size to 8 -->
   <div class="input-group">
     <div class="input-group-prepend">
       <span class="input-group-text">
         <i class="fa fa-search"></i>
       </span>
     </div>
     <input type="text" class="form-control" placeholder="Search...">
     <div class="input-group-append">
       <button class="btn btn-outline-secondary" (click)="onSearch()">clear</button>
     </div>
   </div>
 </div>
  <div class="col-md-8"> <!-- Add a new column with size 4 for the title -->
    <!-- <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-search"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Search...">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="onSearch()">clear</button>
      </div>
    </div>
  </div> -->
</div>

<!-- This is the Main card of details of crop-->

<div class="row">
  <div class="col-md-12">
<div class="col-xl-12 col-sm-6 col-08">
  <div class="card" style="width: 1000px;"  *ngFor="let corp of corpinfos.storeInfoResponse">
    <div class="twoCard">
      <div class="cardPart cardPart3">
        <div class="card" >
        <div  class="twoCard">
          <div class="cardPart cardPart5">
            <a (click)="corpinfo(corp.storeName)">View Profile</a>
          </div>
          <div class="cardPart cardPart6">
            <p style="color:rgba(216, 36, 126, 0.781);">Location:{{corp.storeName}}</p>
          </div>
        </div>
      </div>
    </div>
      <div class="cardPart cardPart4">
        <div class="threeCard">
        <div class="cardPart cardPart7">
          <p style="color:rgba(19, 144, 216, 0.781);"><strong>AMOUNT IN SAFE</strong></p>
          <h3 style="color:rgb(230, 139, 20)"><strong>${{corp.storeSafeAmount}}</strong></h3>
        </div>
        <div class="cardPart cardPart8">
          <p style="color:rgba(19, 144, 216, 0.781);"><strong>LAST BUSINESS DAY</strong></p>
          <h3 style="color:rgb(230, 139, 20)"><strong>${{corp.lastBussinessDayAmount}}</strong></h3>
        </div>
        <div class="cardPart cardPart9">
          <p style="color:rgba(19, 144, 216, 0.781);"><strong>LAST PICK UP AMOUNT</strong></p>
          <h3 style="color:rgb(230, 139, 20)"><strong>${{corp.lastPickupAmount}}</strong></h3>
        </div>
      </div>


      </div>
    </div>

  </div>
 
</div>
</div>
</div>

