<div class="row">
  <div class="container-fluid">
  <div class="row text-left">
    <div class="col-md-8">
    <div class="content-header" style="font-size: 20px">All Corporates Information</div>
    <br>
    <p class="content-sub-header"> <a routerLink="/dashboard"><span
        style="font-size: 15px">Home</span></a>
       <!-- <span style="font-size: 15px">/{{storename}}</span>  -->

    </p>
    </div>

    <div class="col-xl-4 col-sm-6 col-12">
    <div class="card " style="height:100px;text-align:right;">
      <div class="card-content">
      <div class="card-body ">
        <div class="media d-flex">
         <div class="media-body text-left" style="color:blue">
        <!-- <i class="icon-pie-chart warning font-large-2 float-left"></i> -->
          <span> Total StandBank Balance</span>
        </div> 
        <div class="media-body text-right" style="color:blue">
          <h3>$</h3>
        </div>
        </div>
      </div>
      </div>
    </div>
    </div>
    </div>
  </div>
  </div>

