<section id="image">
  <div class=row>
    <div class=" col-md-12 ">
      <div class="row">
        <div class="container-fluid">
          <div class="row text-left">
            <div class="col-md-8">
              <div class="content-header" style="font-size: 20px">Create</div>
              <br>
              <p class="content-sub-header"> <a routerLink='/dashboard'><span
                    style="font-size: 15px">Home</span></a>
                <span style="font-size: 15px">/Corp</span>
              </p>
            </div>
          </div>
        </div>
      </div>

          
      <div class="card">
        <div class="card-header">
          <div class="card-body">
            <div class="form-group">
              <div class="col-md-12">
                <form class="form" #addClassForm="ngForm" novalidate>
                  <div class="form-body">

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="cropName" class="form-control-label"><span *ngIf="corp.corpName == undefined || corp.corpName =='' "
                              style="color: red">*</span>Enter Corp Name
                          </label>
                          <span class=" text-muted danger" *ngIf="!corpName.valid && (corpName.dirty || corpName.touched)">
                            is required!
                          </span>
                          <input type="text" id="corpName" class="form-control border-primary" name="corpName"
                            [(ngModel)]="corp.corpName" ngModel #corpName="ngModel" required>

                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="description"><span *ngIf="corp.description == undefined || corp.description =='' "
                              style="color: red">*</span>Description
                          </label>
                          <span class=" text-muted danger"
                            *ngIf="!description.valid && (description.dirty || description.touched)">
                            is required!
                          </span>
                          <input type="text" id="description" class="form-control border-primary" name="description"
                            [(ngModel)]="corp.description" ngModel #description="ngModel" required>

                        </div>
                      </div>

                    </div>

                    <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="streetName"><span *ngIf="corp.streetName == undefined || corp.streetName =='' "
                            style="color: red">*</span>Street Name
                        </label>
                        <span class=" text-muted danger"
                          *ngIf="!streetName.valid && (streetName.dirty || streetName.touched)">
                          is required!
                        </span>
                        <input type="text" id="streetName" class="form-control border-primary" name="streetName"
                          [(ngModel)]="corp.streetName" ngModel #streetName="ngModel" required>

                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="cityName"><span *ngIf="corp.cityName == undefined || corp.cityName =='' "
                            style="color: red">*</span>City Name
                        </label>
                        <span class=" text-muted danger"
                          *ngIf="!cityName.valid && (cityName.dirty || cityName.touched)">
                          is required!
                        </span>
                        <input type="text" id="cityName" class="form-control border-primary" name="cityName"
                          [(ngModel)]="corp.cityName" ngModel #cityName="ngModel" required>

                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="stateName"><span *ngIf="corp.stateName == undefined || corp.stateName =='' "
                            style="color: red">*</span>State Name
                        </label>
                        <span class=" text-muted danger"
                          *ngIf="!stateName.valid && (stateName.dirty || stateName.touched)">
                          is required!
                        </span>
                        <input type="text" id="stateName" class="form-control border-primary" name="stateName"
                          [(ngModel)]="corp.stateName" ngModel #stateName="ngModel" required>

                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="zipCode"><span *ngIf="corp.zipCode == undefined || corp.zipCode =='' "
                            style="color: red">*</span>Zip Code
                        </label>
                        <span class=" text-muted danger"
                          *ngIf="!zipCode.valid && (zipCode.dirty || zipCode.touched)">
                          is required!
                        </span>
                        <input type="text" id="zipCode" class="form-control border-primary" name="zipCode"
                          [(ngModel)]="corp.zipCode" ngModel #zipCode="ngModel" required>

                      </div>
                    </div>








                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="d-block">Status</label>
                        <div class="input-group">
                          <div class="custom-control custom-radio d-inline-block float-left">
                            <input type="radio" checked id="active" name="active" class="custom-control-input"
                              [value]=true [(ngModel)]="corp.status">
                            <label class="custom-control-label" for="active">Active</label>
                          </div>
                          <div class="custom-control custom-radio d-inline-block float-left ml-1">
                            <input type="radio" id="inactive" name="inactive" class="custom-control-input"
                              [value]=false [(ngModel)]="corp.status">
                            <label class="custom-control-label" for="inactive">In Active</label>
                          </div>
                        </div>
                      </div>
                    </div> 
                  
                  </div>
                  <div class="form-actions center">

                    <button type="button" class="btn btn-raised btn-primary mr-1" (click)="addCrop()"
                      [disabled]="!addClassForm.valid">
                      <i class="fa fa-check-square-o"></i> Create
                    </button>
                   <!--  <button type="button" class="btn btn-raised btn-warning">
                      <i class="ft-x"></i> Cancel
                    </button> -->
                     <button type="reset" class="btn btn-raised btn-warning mr-1" >
                    <i class="ft-x"></i> Cancel
                  </button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
   </div>
   </section>   

   <section id="image">
    <div class=row>
      <div class=" col-md-12 ">
        <div class="card">
  
          <div class="card-body">
            <div class="form-group">
              <div class=" col-md-4 ">
                <select [(ngModel)]="filterOption" class="form-control" (change)="onFilterChange()">
                  <option value="all">All</option>
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                  <option value="deleted">Deleted</option>
              </select>
            </div>
              <section id="simple">
                <br>
                <div class="row text-left">
  
                  <div class="col-sm-12">
                    <table class="table table-responsive-md text-center">
                      <thead>
                        <tr>
                          <th>S.no</th>
                          <th>Corp Name</th>
                          <th>Description</th>
                          <th>Street Name</th>
                          <th>City Name</th>
                          <th>State Name</th>
                          <th>Zip Code</th>
                          <th>Status</th>
                          <th>Action</th> 
                        </tr>
   
                      </thead>
                      <!-- <tbody
                          *ngFor="let role of roles| slice: (page-1) * pageSize : +((page-1) * pageSize) + +pageSize; index as i"> -->
                      <tbody *ngFor="let corp of corps;index as i">
                        <tr>
                          <!-- <td>{{i+1+(page-1) * pageSize}}</td> -->
                          <td>{{i+1}}</td>
                          <td>{{corp.corpName}}</td>
                            <td>{{corp.description}}</td>
                            <td>{{corp.streetName}}</td>
                            <td>{{corp.cityName}}</td>
                            <td>{{corp.stateName}}</td>
                            <td>{{corp.zipCode}}</td>
                            <td>
                              <button type="button" class="btn btn-raised" disabled style="cursor:default"
                              [ngClass]="{' btn-primary' : corp.status,'btn-warning' :!corp.status }">
                              {{ corp.status ? 'Active' : 'Inactive' }}
    
                            </button>
                          </td>
                            
                            
                            

                            <td>
                                                      <a class="success p-0" data-original-title="" title=""
                                                          (click)="editCrop(corp)" placement="bottom" ngbTooltip="Edit">
                                                          <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                                      </a>
                                                      <a class="danger p-0" data-original-title="" title=""
                                                          (click)="deleteCrop(corp)" placement="bottom" ngbTooltip="Delete">
                                                          <i class="icon-trash font-medium-3 mr-2"></i>
                                                      </a>
                                                  </td>
  
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>