/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(241, 240, 247);
  }

  .twoCard {
    display: flex;
    }
    .cardPart {
    width: 100%;
    padding: 10px;
    }
    .cardPart2 {
    border-left: 1px solid #ccc;
    }

    .card {
       background-color:#8fe2ec;
    }

    .card-footer{
      background-color:#8fe2ec;
    }