/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(114, 106, 155);
  }

  .twoCard {
    display: flex;
    }
    .cardPart {
    width: 100%;
    padding: 10px;
    }
    .cardPart2 {
    border-left: 1px solid #ccc;
    }

    .card {
       background-color:white;
    }

    .card-footer{
      background-color:white;
    }

    // .container-fluid{
    //   background-color:rgb(119, 163, 214);
    // }