<section>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
	<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
	<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
	<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  
  
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style>
		.bcontent {
			margin-top: 10px;
			
		}
		.text-muted{
		  margin-bottom: 10px;
  
		}
	</style>
  
  
	
	<div class="row">
	  <div class="container-fluid">
		<div class="row text-left">
		  <div class="col-md-8">
			<div class="content-header" style="font-size: 20px">All Corporates Information</div>
			<br>
			<p class="content-sub-header"> <a routerLink="/dashboard"><span
				  style="font-size: 15px">Home</span></a>
			  <!-- <span style="font-size: 15px">/{{storename}}</span> -->
	
			</p>
		  </div>
  
		  <div class="col-xl-4 col-sm-6 col-12">
			<div class="card" style="width: 24rem;">
			<div class="twoCard">
			  <div class="cardPart cardPart1">All Locations–All Safe
				<p style="color: blue;">$23,500</p>
			  </div>
			  <div class="cardPart cardPart2">All Locations-Today
				<p style="color: blue;">$15,100</p>
			  </div>
			  </div>
			</div>
			</div>
	  </div>
	
  
	
   
  <div>
   <div class="row">
  <!-- <div class="container bcontent"> -->
	<div class="col-xl-4 col-sm-6 col-12" *ngFor="let crop of crops">
	<div class="card" style="width:350px;" >
		<div class="card-header  text-muted1" >
			<address>
				<!-- <strong><a href="#" class="card-link"  style="text-align: right;" routerLink="/dashboard/corpInfo">{{ crop.cropName }}</a></strong><br> -->
				<strong><a [routerLink]="" (click)="cropinfo(crop.corpName)">{{ crop.corpName }}</a></strong><br>
				{{crop.streetName}}<br>
				{{crop.cityName}}<br>
				{{crop.stateName}}<br>
				{{crop.zipCode}}
				<!-- <abbr title="Phone">P:</abbr> (123) 456-7890 -->
			  </address>
		  
		</div>
		
		<div class="card-body">
		  <div class="row">
		  <div class="col-xl-6 col-sm-6 col-12">
			<p class="card-text" style="font-size:small;">Amount in safe </p>
			<p>${{dashboard?.stateBankBalance}}</p>
			</div>
			<div class="col-xl-6 col-sm-6 col-12">
			<p class="card-text"  style="text-align: right;font-size:small;">Current business day </p>
			<p class="card-text"  style="text-align: right;">${{dashboard?.totalEodBillsAmount}} </p>
		  </div>
		  </div>
		  <p>No of Locations:</p>
		  </div>
		<div class="card-footer text-muted">
		  <!-- <a href="#" class="card-link" style="text-align: left;">Location</a>
		  <a href="#" class="card-link"  style="text-align: right;" routerLink="/dashboard/charts-reports">Map</a> -->
		  <div class="row">
			<div class="col-xl-6 col-sm-6 col-12">
			<a href="#" class="card-link" style="text-align: left;">Location</a>
			  </div>
			  <div class="col-xl-6 col-sm-6 col-12">
			  <a href="#" class="card-link"  style="text-align: right;" routerLink="/dashboard/charts-reports">Map</a>
			  </div>
			</div>
  
  
  
		</div>
	</div>
  </div>
  </div>
  </div>








<!--not used for reference only-->

  <!-- <div class="row">
	<div class="container-fluid">
	  <div class="row text-left">
		<div class="col-md-8">
		  <div class="content-header" style="font-size: 20px">All Stores</div>
		  <br>
		   <p class="content-sub-header"> <a routerLink="/dashboard"><span
				style="font-size: 15px">Home</span></a>
			<span style="font-size: 15px">/Add Store</span>
  
		  </p> 
		</div>
  
	  </div>
	</div>
  </div>
  <ngx-spinner></ngx-spinner>
  
  
  <section id="minimal-statistics-bg">
  <div class="row">
  
	  <div class="col-xl-4 col-lg-6 col-md-6 col-12" >
		  <div class="card gradient-pomegranate">
			  <div class="card-content" >
				  <div class="card-body pt-2 pb-0">
					  <div class="media" >
						  <div class="media-body white text-center">
								  <button type="button" class="btn btn-raised " style="color:white"
									(click)="allstoreinfo()">
								  <span>AllStore-Info </span></button>
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
  
	
  
	  <div class="col-xl-4 col-lg-6 col-md-6 col-12" *ngFor="let store of stores">
		  <div class="card gradient-pomegranate">
			  <div class="card-content" >
				  <div class="card-body pt-2 pb-0">
					  <div class="media" >
						  <div class="media-body white text-center">
								  <button type="button" class="btn btn-raised " style="color:white"
									(click)="reports(store.storeName)">
								  <span>{{ store.storeName }} </span></button>
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
  
	</div>
  
  </section> -->
  
  
  
  
  
  
  
  
  
	
  
  
	
  
  