<section>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
	<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
	<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
	<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  
  
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style>
		.bcontent {
			margin-top: 10px;
			
		}
		.text-muted{
		  margin-bottom: 10px;
  
		}
	</style>
  
  
	
	<div class="row">
	  <div class="container-fluid">
		<div class="row text-left">
		  <div class="col-md-8">
			<div class="content-header" style="font-size: 20px">All Corporates Information</div>
			<br>
			<p class="content-sub-header"> <a routerLink="/dashboard"><span
				  style="font-size: 15px">Home</span></a>
			  <!-- <span style="font-size: 15px">/{{storename}}</span> -->
	
			</p>
		  </div>
  
		  <div class="col-xl-4 col-sm-6 col-12">
			<div class="card " style="height:100px;text-align:right;">
			  <div class="card-content">
				<div class="card-body ">
				  <div class="media d-flex">
					 <div class="media-body text-left" style="color:blue">
					<!-- <i class="icon-pie-chart warning font-large-2 float-left"></i> -->
					  <span> Total StandBank Balance</span>
					</div> 
					<div class="media-body text-right" style="color:blue">
					  <h3>$</h3>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  </div>
		</div>
	  </div>
	
  
	
   <!-- <div>
	<div class="row">
	<div class="col-xl-4 col-sm-6 col-12" *ngFor="let store of stores">
	  <div class="card " style="min-height:300px">
		<div class="card-content">
		  <div class="card-body ">
			<div class="media d-flex">
			   <div class="media-body text-left" style="color:blue">
			   <span style=color:red>{{ store.storeName }} </span><br><br>
			   <span>StandBank Balance:${{dashboard?.stateBankBalance}}</span><br><br>
			   <span>MainSafe Balance:${{dashboard?.mainSafeBalance}}</span><br><br>
			   <span >shiftManager Balance:${{dashboard?.shiftManagerBalance}} </span><br><br>
			   <a href="#" class="card-link">Location</a>
			   <a href="#" class="card-link">Map</a>
			</div>
			
		  </div>
		</div>
	  </div>
	</div>
  </div>
  </div>  -->
  
  <div>
   <div class="row">
  <!-- <div class="container bcontent"> -->
	<div class="col-xl-4 col-sm-6 col-12" *ngFor="let crop of crops">
	<div class="card" style="width:350px;" >
		<div class="card-header  text-muted1" style="color: blue;">
		  <!-- <a href="#" class="card-link"  style="text-align: right;" routerLink="/dashboard/charts-reports">{{ crop.cropName }}</a>
		  <p>{{crop.streetName}}</p>
		  <p>{{crop.cityName}}</p>
		  <p>{{crop.zipCode}},</p>
		  <p>{{crop.stateName}}</p> -->
		</div>
		<address>
			<strong><a href="#" class="card-link"  style="text-align: right;" routerLink="/dashboard/charts-reports">{{ crop.cropName }}</a></strong><br>
			{{crop.streetName}}<br>
			{{crop.cityName}}<br>
			{{crop.zipCode}}<br>
			{{crop.stateName}}
			<!-- <abbr title="Phone">P:</abbr> (123) 456-7890 -->
		  </address>
		<div class="card-body">
		  <div class="row">
		  <div class="col-xl-6 col-sm-6 col-12">
			<p class="card-text" style="font-size:small;">StandBank Balance </p>
			<p>${{dashboard?.stateBankBalance}}</p>
			</div>
			<div class="col-xl-6 col-sm-6 col-12">
			<p class="card-text"  style="text-align: right;font-size:small;">Today Insert Bills </p>
			<p class="card-text"  style="text-align: right;">${{dashboard?.totalEodBillsAmount}} </p>
		  </div>
		  </div>
		  <p>No of Locations:</p>
		  </div>
		<div class="card-footer text-muted">
		  <!-- <a href="#" class="card-link" style="text-align: left;">Location</a>
		  <a href="#" class="card-link"  style="text-align: right;" routerLink="/dashboard/charts-reports">Map</a> -->
		  <div class="row">
			<div class="col-xl-6 col-sm-6 col-12">
			<a href="#" class="card-link" style="text-align: left;">Location</a>
			  </div>
			  <div class="col-xl-6 col-sm-6 col-12">
			  <a href="#" class="card-link"  style="text-align: right;" routerLink="/dashboard/charts-reports">Map</a>
			  </div>
			</div>
  
  
  
		</div>
	</div>
  </div>
  </div>
  </div>
  
  
  
  
  
  
  
	
  
  
	
  
  